html,
body {
  padding: 0;
  margin: 0;
  background-color: #0a0a13;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
input,
button,
body {
  font-family: "Nunito", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
